In [5]:
import findspark
findspark.init('/usr/local/spark')
sc = pyspark.SparkContext(appName = 'wordcount')

In [4]:
import pyspark
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("PySpark Hive connect example")\
.config("spark.sql.warehouse.dir","hdfs://localhost:54310/user/hive/warehouse")\
.enableHiveSupport()\
.getOrCreate()

In [7]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|       mydb1|
|     pyspark|
+------------+

In [18]:
spark.sql("create database mydb1")

DataFrame[]

In [19]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|       mydb1|
+------------+

In [8]:
spark.sql("use mydb1").show()
# src (key INT, value STRING) USING hive")

++
||
++
++

In [10]:
#spark.sql("CREATE TABLE student(id int , name string , marks int) ")

spark.sql("create table student (id int, name string , marks int) row format delimited  fields terminated by '\t'")

DataFrame[]

In [12]:
spark.sql("show tables").show()

+--------+-------------+-----------+
|database|    tableName|isTemporary|
+--------+-------------+-----------+
|   mydb1|customers_tsv|      false|
|   mydb1| products_tsv|      false|
|   mydb1|      student|      false|
+--------+-------------+-----------+

In [13]:
spark.sql("load data local inpath '/home/hduser/Desktop/stud' into table student")

DataFrame[]

In [16]:
spark.sql("select * from customers_tsv").show()

+-----------+----------------+-------------+--------------+----------------+
|customer_id|   customer_name|customer_city|customer_state|customer_zipcode|
+-----------+----------------+-------------+--------------+----------------+
|      11039|     Mary Torres|       Caguas|            PR|             725|
|       5623|      Jose Haley|     Columbus|            OH|           43207|
|       5829|      Mary Smith|      Houston|            TX|           77015|
|       6336|  Richard Maddox|       Caguas|            PR|             725|
|       1708|  Margaret Booth|    Arlington|            TX|           76010|
|      10227|  Mary Henderson|       Caguas|            PR|             725|
|        839|     Lisa Walker|       Caguas|            PR|             725|
|       7604|   Jonathan Hill|      Phoenix|            AZ|           85040|
|       6485|Carolyn Sheppard|Pompano Beach|            FL|           33063|
|       4737|    Mary Mendoza|       Caguas|            PR|             725|
|       5973|   Michael Smith|       Caguas|            PR|             725|
|       9205|    James Holmes|     Hilliard|            OH|           43026|
|        138|     Mary Dawson|       Caguas|            PR|             725|
|        371|    Adam Marquez|  San Antonio|            TX|           78223|
|       9285|    Gloria Smith|       Caguas|            PR|             725|
|       1209|       Mary Webb|   San Marcos|            TX|           78666|
|       3021|  Nancy Alvarado|     Flushing|            NY|           11354|
|       3354|  Russell Flores|       Caguas|            PR|             725|
|      11684|    Denise Smith|    Rego Park|            NY|           11374|
|      11144|  Jose Dickerson|         Mesa|            AZ|           85201|
+-----------+----------------+-------------+--------------+----------------+
only showing top 20 rows

In [15]:
spark.sql("select * from student where name = 'abhi'").show()

+---+----+-----+
| id|name|marks|
+---+----+-----+
| 20|abhi|   95|
+---+----+-----+